@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

section {
    scroll-margin-top: 100px;
}

section #Sobremi {
    scroll-margin-top: 400px;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: -webkit-linear-gradient(left,#c5bbde,#c3edbf,#f9efc7);
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-size: 30px;
    margin: auto;
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo a:hover {
    color: black;
}

.menu {
    height: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    padding: auto;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flag {
    width: 50px;
    margin: 10px;
}

.menu nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: 1000;
    transition: color 300ms;
    text-decoration: none;
    font-weight: 700;
}

.menu nav ul li a:hover{
    color: gray;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 8px;
    padding: 10px;
    font-size: 20px;
    background: gray;
    border-radius: 35%;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}

/*Portada*/


.container-cover{
    width: 100%;
    height: 750px;
    position: relative;
    margin-top: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: movimiento 10s infinite linear alternate;
}

@keyframes movimiento {
    from{
      background-position: bottom left;
    }to{
      background-position: top right;
    }
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.49);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 800px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover img{
    max-width: 100%;
    margin: 25px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.container-info-cover p{
    color: #fff;
    font-size: 21px;
    font-weight: 400;
}

/*Contenedor - contenido del articulo*/

.container-content{
    margin: auto;
    display: flex;
    justify-content: center;
}

#Sobremi {
    background: #cca9dd;
    padding: 75px;
    margin-bottom: 100px;
}

#Sobremi h2 {
    text-align: left;
    font-weight: 900;
}

#Sobremi p {
    font-size: 21px;
    color: black;
}

.clearfix img {
    height: 200px;
    width: 200px;
}

.comentarios {
    background: -webkit-linear-gradient(top,#cca9dd,#c3edbf);
    margin-top: 100px;
    padding: 50px;
}

.comentarios h2 {
    margin-bottom: 25px;
    font-weight: 900;
}

#Formacion {
    background: #c3edbf;
    padding: 75px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#Formacion h2 {
    font-weight: 900;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: auto;
}

.column2 {
    flex: 1;
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: #b3deaf;
}

.column2 img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
}

.column2 h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.fourth-column2 h4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.fourth-column2 {
    flex-basis: 100%;
    text-align: center;
    margin-top: 25px;
    background-color:#b3deaf;
}

#Formacion h3{
    font-weight: 900;
}

hr{
    margin-top: 20px;
    border: none;
    height: 3px;
    background: black;
}

.contame {
    margin: 30px;
}

.container3 {
    display: flex;
}

.image-container3 {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #b3deaf;
    margin: 10px;
}

.image-container3 img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
}

.image-caption3 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

#servicios {
    background: -webkit-linear-gradient(top,#c3edbf,#f5f5ad);
    padding: 75px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#servicios h2 {
    padding-bottom: 25px;
    font-weight: 900;
}

#servicios .row {
    border: solid 2px;
    border-color: black;
    margin: 15px;
}

#servicios .listas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#servicios li {
    text-align: left;
    font-size: 18px;
}

#servicios h5 {
    padding-top: 10px;
    font-size: 25px;
    text-decoration: underline;
    font-weight: 600;
}

#servicios img {
    width: 150px;
}

#Contacto {
    background: #f5f5ad; 
    padding: 75px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

#Contacto h2 {
    font-weight: 900;
}

.form-container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form-title {
    text-align: center;
    margin-bottom: .4em;
}

.form {
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 2.5em 1.5em;
}

.form-input {
    padding: .8em .5em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form-input-message {
    resize: none;
    padding: .8em .5em;
    margin-bottom: .5em;
}

.form-cta {
    background-color: #f7f787;
    color: black;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    padding: .7em 0;
    width: 50%;
    border-radius: .5em;
    cursor: pointer;
    border: 1.5px solid black;
    margin: auto;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.75)
}

.form-cta:hover {
    background-color: #eae696;
    transition: .5s;
}

article{
    width: 100%;
    box-shadow: -10px 0 20px -30px black;
    position: relative;
    overflow: hidden;
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
    text-align: left;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: #3c3c3c;
    text-align: left;
}

article img{
    width: 100%;
    margin-top: 20px;
}


/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;
    background: -webkit-linear-gradient(bottom,#dbb6ee,#c9eeb6,#f5f5ad);
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 250px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: gray;
}

.redes-footer a {
    text-decoration: none;
}

footer .redes-footer .icon-redes-footer:hover{
    background: gray;
    color: #fff;
    transition: .5s;
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h5{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1200px;
    }


}

@media screen and (max-width: 1020px){

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    .logo h1 {
        font-size: 25px;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }

    .container-cover {
        height: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        animation: none; 
    }

    .container-cover:before {
        display: none; 
    }

    .container-info-cover {
        height: auto; 
        padding: 30px; 
    }

    .container-info-cover p{
        font-size: 17px;
    }

    .container-info-cover img {
        max-width: 100%; 
        height: auto; 
        max-height: 200px;
        border-radius: 50%;
        box-shadow: 0px 0px 50px rgb(255, 255, 255);
    }
    
    #Sobremi {
        padding: 40px;
        margin-bottom: 60px;
    }

    #Sobremi h2 {
        text-align: center;
        font-size: 24px;
    }

    #Sobremi p {
        font-size: 18px;
    }

    .clearfix img {
        max-width: 50%;
        height: auto;
    }

    #Formacion {
        padding: 40px; 
        margin-top: 60px; 
        margin-bottom: 60px;
    }

    #Formacion h2 {
        text-align: center;
        font-size: 24px;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
    }

    .column2 {
        width: 100%;
        margin: 10px 0;
        padding: 20px 0;
        background-color: #b3deaf;
    }

    .column2 img {
        max-width: 80%;
        max-height: 150px;
    }

    .column2 h4 {
        font-size: 18px;
    }

    .fourth-column2 {
        margin-top: 20px;
        background-color: #b3deaf;
    }

    #Formacion h3 {
        text-align: center;
        font-size: 24px;
    }

    hr {
        margin-top: 20px;
    }

    .contame {
        margin: 20px;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
    }

    .image-container3 {
        width: 80%;
        margin: 10px 0;
        padding: 20px 0;
        background-color: #b3deaf;
    }

    .image-container3 img {
        max-width: 80%;
        max-height: 150px;
    }

    .image-caption3 {
        font-size: 16px;
        text-align: center;
    }

    #servicios {
        padding: 40px; 
        margin-top: 60px; 
        margin-bottom: 60px; 
    }

    #servicios h2 {
        text-align: center; 
        font-size: 24px; 
        padding-bottom: 15px; 
    }

    #servicios .row {
        border: none; 
        margin: 0; 
    }

    #servicios .listas {
        flex-direction: column; 
        align-items: flex-start; 
    }

    #servicios .listas .col-3 {
        width: 100%; 
        text-align: center; 
        margin-bottom: 10px; 
    }

    #servicios .listas .col-sm-9 {
        width: 100%; 
    }

    #servicios li {
        font-size: 16px; 
    }

    #servicios h5 {
        font-size: 20px; 
        padding-top: 15px; 
        text-align: center; 
        font-weight: 600;
    }

    #servicios img {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto 15px;
    }

    #Contacto {
        padding: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #Contacto h2 {
        text-align: center;
        font-size: 24px;
        padding-bottom: 15px;
    }

    .form-container {
        width: 100%;
    }

    .form {
        width: 100%;
        margin: auto;
        max-width: 400px;
        border-radius: 1em;
        padding: 2.5em 1.5em;
    }

    .form-input {
        width: 100%;
        padding: 1em;
        margin-bottom: 1em;
    }

    .form-cta {
        width: 100%;
        font-size: 18px;
    }

    .container-footer {
        padding: 20px 0; 
        margin-top: 20px; 
        background: -webkit-linear-gradient(bottom, #dbb6ee, #c9eeb6, #f5f5ad);
    }

    .container-footer footer .logo-footer img {
        width: 150px; 
    }

    .container-footer footer .redes-footer {
        align-items: center; 
        margin-top: 10px; 
    }

    .container-footer footer .redes-footer .icon-redes-footer {
        font-size: 20px;
        margin: 10px;
        width: 40px; 
        height: 40px; 
    }

    .container-footer footer .redes-footer .icon-redes-footer:hover {
        background: gray;
        color: #fff;
        transition: 0.5s;
    }

    .container-footer footer hr {
        margin-top: 10px; 
    }

    .container-footer h5 {
        margin-top: 20px;
        font-size: 16px;
    }

}


@media screen and (max-width: 1000px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .container-cover{
        width: 100%;
        height: 750px;
        position: relative;
        margin-top: 60px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        animation: movimiento 30s infinite linear alternate;
    }
    
    @keyframes movimiento {
        from{
          background-position: bottom left;
        }to{
          background-position: top right;
        }
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        background: lightgray;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu img {
        display: flex;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: black;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap: wrap;
    }

    .form {
        padding: 2.5em 1.5em;
    }

    p {
        font-size: 2px;
    }

}
